#mobiles {
    display: block;
    margin: 2%;
    overflow: hidden;
}

h6 {
    font-size: 18px;
}

.card {
    margin: 1%;
    width: 500px;
}

.cardAvtar {
    display: inline-flex !important;
    justify-content: center !important;
}

.btn-btn-primary {
    display: inline-flex;
    justify-content: center;
}

.card-text {
    height: 200px;
}

.image {
    display: inline-flex !important;
    justify-content: center !important;
    width: 200px;
    height: 285px;
}